/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */
/**************************/

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .inside,
  .sections {
    width: 110rem;
    padding: 2rem 3rem;
  }

  .section5 {
    top: 270rem;
    right: 20rem;
  }
}

/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .img1-div {
    width: 50rem;
    height: 30rem;
  }

  .inside,
  .sections {
    width: 100rem;
    padding: 2rem 3rem;
  }

  .section5 {
    top: 295rem;
    right: 17rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
}

/**************************/
/* BELOW 850px (Smaller tablets) */
/**************************/
@media (max-width: 53em) {
  .inside,
  .sections {
    width: 77rem;
    padding: 2rem 3rem;
  }
  .section5 {
    width: 55rem;
    height: 30rem;

    right: 20rem;
  }
  h3 {
    font-size: 2.5rem;
  }
}

/**************************/
/* BELOW 660px*/
/**************************/

@media (max-width: 41em) {
  .inside,
  .sections {
    width: 60rem;
    padding: 2rem 3rem;
  }

  footer .bottom {
    display: flex;
    flex-direction: column;
  }
  footer {
    height: 75rem;
    justify-content: center;
  }

  .section5 {
    width: 45rem;
    height: 30rem;
    right: 15rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .inside,
  .sections {
    width: 50rem;
    padding: 2rem 3rem;
  }
}
