/*SECTION1*/

.section1 {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  padding-bottom: 10rem;
}

.text1 {
  padding: 4rem 3rem;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.5;
}

.section1-p {
  font-size: 2rem;
  letter-spacing: 0.5;
  opacity: 0.9;
  margin-bottom: 5rem;
}

.btn_sectionbtn {
  background-color: var(--Pink);
  color: white;
  padding: 1.5rem 6rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
}

.img1-div {
  width: 200rem;
  height: 30rem;
}

.img1 {
  max-width: 100%;
}

/*SECTIOONS FROM 2*/
.sections {
  width: 130rem;
  padding: 2rem 3rem;
  margin: 0 auto;
}

/*SECTION2*/
/*SECTION3*/
/*SECTION4*/

.section2,
.section3,
.section4 {
  height: 45rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 7%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2,
.section3 {
  margin-bottom: 5rem;
}

.section4 {
  margin-bottom: 31rem;
}

.text2,
.text3,
.text4 {
  font-size: 2rem;
  padding: 9rem 4rem;
}

.section2-p,
.section3-p,
.section4-p {
  opacity: 0.6;
  letter-spacing: 0.5px;
}

.img2-div,
.img3-div,
.img4-div {
  width: 50rem;
}

.img2,
.img3,
.img4 {
  max-width: 100%;
}

/*SECTION5*/

.section5 {
  width: 75rem;
  height: 30rem;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 7%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 35rem;
  top: 260rem;
  z-index: 2;
  background-color: white;
}

h3 {
  font-size: 3.5rem;
}

.btn_free {
  background-color: var(--Pink);
  padding: 2rem 8rem;
  color: white;
  font-size: 2rem;
  border-radius: 5rem;
}
